<div style="display: flex; background-color: blue; width: 100rem; height: 100rem;">
    <p>preguntas-frecuentes works!</p>

    
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos velit tenetur
  recusandae dolorem error dolorum ex laudantium delectus iusto. Nisi, quaerat
  culpa officiis qui nostrum nobis illo corrupti dolores animi!
</p>

<a href="/">hola</a>

<ul>
    <li><a href="/">1</a></li>
    <li><a href="/">2</a></li>
    <li><a href="/">3</a></li>
    <li><a href="/">4</a></li>
</ul>
</div>